<!DOCTYPE html>
<html>
<head>
    <title>Study of Example-based Programming</title>
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <!-- LIBRARIES -->
    <script src="js/lib/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="js/lib/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="js/lib/underscore-min.js"></script>
    <!-- HANDSONTABLE: EDITABLE SPREADSHEET API -->
    <script type="text/javascript" src="http://handsontable.com/dist/handsontable.full.js"></script>
    <link rel="stylesheet" type="text/css" href="http://handsontable.com/dist/handsontable.full.css">
    <!-- MAIN JS CODE-->
    <script src="js/taskData.js" type="text/javascript"></script>
    <script>
    $(document).ready(function(){
      _.each(pbeTasks, function(tobj, tid){
        $(".taskDesc[tid='"+tid+"']").text(tobj['description']);
      });
    });
    </script>
</head>
<body style='max-width:100000px;'>

<div class='participants_container'>
  <ul class='participants_list'>
    {% for pData in allData %}
    <li class='participant'>
        Age: {{pData.demography.q_age}},&nbsp;
        Gender: {{pData.demography.q_gender}}{{pData.demography.q_gender_other}},&nbsp;
        Education: {{pData.demography.q_education}},&nbsp;
        Occupation: {{pData.demography.q_occupation}},&nbsp;
        Prog.Exp.: {{pData.demography.q_prog_exp}},&nbsp;
        Comp.Exp.: 
        {% for ce in pData.demography.q_computer_exp %}
          {% if ce %}T{% else %}F{% endif %}
        {% endfor %}, &nbsp;
        Mode: {{pData.mode}}
        <br>
    </li>
    {% endfor %}
  </ul>

</div>


{% for task in tasks_parts %}
<div class='report_container'>
  <span class='taskDesc' tid='{{tid_list[loop.index0]}}'></span> {{tid_list[loop.index0]}} <br>
  {% set taskLoop = loop %}
  <!-- TASK DATA -->
  {% for part in task %}
  <div class='trials'>
    <label>{{ loop.index }}{{allData[loop.index0].mode[0]}}</label>
    {% for trial in part.trials %}

    {% if trial.event == "INFER_PROGRAM" %}
    <!-- CASE: INFER_PROGRAM -->
    <div class='task' style='display:inline-block;'>
      <table class='inOut'>
        <tr class='input'>
          <th>IN</th>
          {% for case in trial.data.input %}
            <td>{{case}}</td>
          {% endfor %}
        </tr>
        {% for step in trial.data.steps %}
        <tr class='step' style='border-top:1px solid black;'>
          <th>
            STEP
          </th>
          {% for case in step %}
            <td>{{case}}</td>
          {% endfor %}
          <!-- ADDINg Number of Programs Generated For Each Step  -->
          <td class='lastColumn' title='{{ trial.jsonPrograms[loop.index0] }}'>{{ trial.numProgList[loop.index0] }}</td>
        </tr>
        {% endfor %}
        <tr class='output' style='border-top:1px solid black;'>
          <th>OUT</th>
          {% for case in trial.data.output %}
            <td>{{case}}</td>
          {% endfor %}
          <!-- ADDINg Number of Programs Generated For the final step : Output  -->
          <td class='lastColumn' title='{{ trial.jsonPrograms[-1] }}'>{{ trial.numProgList[-1] }}</td>
        </tr>
        <tr class='otherData'>
          <td colspan=100>
            {{ trial.duration }} sec
          </td>
        </tr>
      </table>
    </div> <!-- END OF CASE: INFER_PROGRAM -->
    {% endif %}

    <!-- CASE: GIVE_UP_PROGRAM -->
    {% if trial.event == "GIVE_UP_TASK" %}
    <div class='task' style='display:inline-block; color:red;'>
      GIVE UP
    </div>
    {% endif %}
    <!-- CASE: SHOW_SOLUTION -->
    {% if trial.event == "SHOW_SOLUTION" %}
    <div class='task' style='display:inline-block; color:orange;'>
      SHOW SOLUTION
    </div>
    {% endif %}

    {% endfor %} <!-- TRAIL LOOP -->

    <!-- SUMMARY -->
    {{ part.summary.failMessages }}

  </div> <!-- TRIALS -->
  {% endfor %}


</div>
{% endfor %}


</body>

</html>